@mixin taxi-dashboard($primary-stylename: v-dashboard) {
  .leftmenu {
    background-color: #262626;
    box-shadow: inset 0 0 15px #2D353D;
  }

  .leftmenu .menubutton {
    width: 250px;
    color: #999999;
    border-radius: 0;
    border: none !important;
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    height: 35px;
    text-align: left;
  }

  .v-popupbutton-popup .v-slot-link {
    width: 250px;
    color: #D1D1D1;
    border-radius: 4px;
    border: none !important;
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    text-align: left;
  }

  .v-popupbutton-popup .v-button.v-selected {
    background-color: #4D5660 !important;
    background-image: none !important;
  }

  .v-popupbutton-popup .v-button {
    padding: 7px !important;
    height: 35px !important;
    border-radius: 0 !important;
    width: 150px;
  }

  .v-popupbutton .v-popup-indicator {
    padding-left: 0 !important;
  }

  .v-popupbutton .v-popup-indicator:after {
    content: "\f0c9" !important;
  }

  .v-popupbutton-popup {
    background-color: #414B56 !important;
    box-shadow: inset 0 0 15px #2D353D, 0 0 10px black !important;
    padding: 0 !important;
    margin-top: 10px !important;
    overflow: hidden;
    width: 150px;
  }

  .main-container .open-menu-button {
    display: none;
  }

  .leftmenu .menubutton.menubutton-selected {
    color: #ffffff;
    background-color: #006BAC !important;
  }

  .leftmenu .menubutton:hover {
    color: #ffffff;
    background-color: #006BAC !important;
  }

  .main-container {
    overflow: hidden;
  }

  .v-slot-logo {
    width: 150px;
    text-align: center;

    .v-widget {
      text-align: center;
    }
  }

  .panel {
    width: calc(100% - 20px) !important;
    height: calc(100% - 20px) !important;
    margin: 10px;
    border-radius: 4px;
    background-color: white;
    transition: box-shadow 100ms;
  }

  .panel:hover {
    box-shadow: 0 0 15px #E2E2E2;
  }

  .colorBoxPanel {
    height: 210px;
  }

  .mainbody {
    background-color: #F5F5F5;
    padding: 5px;
    overflow: auto;
  }

  .v-slot-panel .v-verticallayout .v-slot {
    text-align: center;
  }

  .v-slot-paneltext {
    text-align: left !important;
  }

  .v-slot-responsive, .responsive {
    overflow: visible;
  }

  .responsive-all {
    overflow: visible;

    &[width-range~="0-1000px"] {
      .leftmenu {
        margin-left: -250px;
        width: 250px;
      }

      .panel-container {
        width: 100% !important;
        height: 300px !important;
      }

      .panel-top-container {
        width: 50% !important;
        height: 50% !important;
      }

      .panel-full-container {
        width: 100% !important;
        height: 300px !important;
      }

      .panel-semifull-container {
        width: 100% !important;
        height: 50% !important;
      }

      .responsive-panels {
        width: 100%;
        height: auto;
      }

      .main-container .open-menu-button {
        display: block;
      }

      .colorBoxPanel {
        height: 400px;
      }

      .color-table .v-table-body {
        height: auto !important;
      }

      .panel-table {
        height: auto !important;
      }
    }

    &[width-range~="1001-1200px"] {
      .leftmenu {
        margin-left: -94px;
        width: 183px !important;
        text-align: right;
      }

      .panel-container {
        width: 50% !important;
        height: 100% !important;
      }

      .panel-container .v-slot-panel {
        height: 100%;
      }

      .panel-top-container {
        width: 50% !important;
        height: 50% !important;
      }

      .panel-full-container {
        width: 100% !important;
        height: 100% !important;
      }

      .panel-semifull-container {
        width: 100% !important;
        height: 50% !important;
      }

      .responsive-panels {
        width: 100%;
        height: 100%;
      }

      .menubutton {
        width: 92px;
        height: initial;
        text-align: center;
        padding: 10px 0;
      }

      .menubutton .v-button-wrap {
        display: inline-block;
        width: 50px;
        white-space: normal;
      }

      .menubutton .v-button-wrap .v-button-caption {
        display: none;
      }

      .menubutton .v-button-wrap .v-icon {
        font-size: 28px;
        width: 50px;
      }

      .v-slot-logo {
        width: 67px;
      }

      .cuba-full-link {
        display: none;
      }

      .cubalink {
        width: 89px;
        display: block !important;
      }

      .userbar {
        width: 98px !important;
        padding: 9px 0 10px 20px;
      }

      .colorBoxPanel {
        height: 400px;
      }
    }

    &[width-range~="1201px-"] {
      .leftmenu {
        width: 200px;
        display: block;
      }

      .panel-container {
        width: 50% !important;
        height: 50% !important;
      }

      .panel-top-container {
        width: 25% !important;
        height: 100% !important;
      }

      .panel-full-container {
        width: 100% !important;
        height: 50% !important;
      }

      .panel-semifull-container {
        width: 33.3% !important;
        height: 50% !important;
      }

      .responsive-panels {
        width: 50%;
        height: 100%;
      }

      .menubutton {
        width: 200px;
      }

      .menubutton .v-button-wrap .v-icon {
        width: 25px;
        margin: 0 10px;
      }

      .cubalink {
        width: 200px;
      }

      .cubalink .v-icon {
        width: 30px;
      }

      .leftmenu .name {
        width: 250px;
      }

      .responsive-all .v-expand {
        padding-left: 200px;
      }

      .responsive-all .v-slot-leftmenu {
        margin-left: -200px;
      }
    }
  }

  .paneltext {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
  }

  .userpic {
    margin-top: 30px;
  }

  .userpic img {
    border-radius: 50px;
    box-shadow: inset -1px -1px 2px #969696;
  }

  .appname {
    color: white;
    margin: 0 0 -5px 5px;
    font-weight: bold;
    font-size: 20px;
  }

  .green-panel {
    background-color: #98DF58;
    color: white;
  }

  .red-panel {
    background-color: #EC6464;
    color: white;
  }

  .blue-panel {
    background-color: #3090F0;
    color: white;
  }

  .yellow-panel {
    background-color: #F9DD51;
    color: white;
  }

  .panel .bigtext {
    font-size: 35px;
    font-weight: 100;
    margin-top: -12px;
    margin-bottom: -6px;
    margin-left: 11px;
  }

  .panel .caption {
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px #969696;
  }

  .leftmenu .name {
    font-size: 47px;
    font-weight: bold;
    position: absolute;
    bottom: 18px;
    left: 0;
    text-align: center;
    color: #d1d1d1;
  }

  .userbar {
    width: 100%;
    padding: 20px 0 10px 20px;
  }

  .cubalink {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: none;
    text-align: center;
    color: #D1D1D1;
  }

  .cubalink span {
    display: none;
  }

  .cuba-full-link {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 200px;
    text-align: center;
    color: #D1D1D1;
  }

  .cuba-full-link .v-icon {
    width: 150px;
  }

  .color-table {
    width: 100%;
  }

  .color-table .v-table-cell-content {
    border-left: none !important;
  }

  .color-table .v-table-row-odd {
    background: none !important;
  }

  .color-table .v-selected {
    background: none !important;
    color: #464646 !important;
  }

  .color-table .v-table-focus {
    outline: none !important;
  }

  .color-table .cuba-table-clickable-cell {
    color: black;
    border-bottom: none;
  }

  .color-table .v-table-body {
    border: none !important;
  }

  .color-table .v-table-cell-wrapper {
    padding: 0 10px !important;
  }

  .color-table .v-table-table {
    background: none !important;
    box-shadow: none !important;
    font-size: 14px;
  }

  .color-table .v-table-table .direction {
    font-size: 14px;
  }

  .color-table td {
    padding: 7px 0;
  }

  .header {
    font-size: 30px;
    margin-top: 5px;
    padding: 10px 10px 5px 10px;
  }

  .logout-button {
    background: none !important;
    border: none !important;
    color: #999999;
    margin-top: 0;
    font-size: 16px;
  }

  .logout-button:hover {
    text-decoration: underline;
  }

  .logout-button:hover:after {
    background: none !important;
  }

  .main-container .open-menu-button {
    background: #fafafa linear-gradient(to bottom, #fafafa 2%, #efefef 98%) !important;
    border: 1px solid #c5c5c5 !important;
    margin-top: 15px;
    padding: 5px 13px;
    height: 40px;
    margin-left: 10px;
  }

  .pie-chart a {
    width: 100%;
    text-align: center;
  }

  .notifications-button {
    background: none;
    border: none;
    box-shadow: none;
    height: 40px;
    margin-top: 10px;
  }

  .notifications-button img {
    width: 30px;
  }

  .notifications-button:after {
    box-shadow: none !important;
  }

  .notifications-button:active:after {
    background: none;
  }

  .notifications-button:hover:after {
    background: none;
  }

  .v-popupbutton-popup-open-menu-button .v-icon {
    width: 20px;
  }

  .notifications-button .v-icon {
    transition: box-shadow 0.1s ease-out 0.1s;
    border-radius: 20px;
  }

  .notifications-button.v-pressed .v-icon {
    box-shadow: 0 0 25px #A2A2A2;
  }

  .notifications-button:hover .v-icon {
    box-shadow: 0 0 25px #E2E2E2;
  }

  .v-slot-notifications-button {
    overflow: visible;
  }

  .logout-button-cst {
    background: none;
    border: none;
    box-shadow: none;
    height: 40px;
    margin-top: 10px;
  }

  .logout-button-cst img {
    width: 22px;
  }

  .logout-button-cst:after {
    box-shadow: none !important;
  }

  .logout-button-cst:active:after {
    background: none;
  }

  .logout-button-cst:hover:after {
    background: none;
  }

  .v-popupbutton-popup-open-menu-button .v-icon {
    width: 20px;
  }

  .logout-button-cst .v-icon {
    transition: box-shadow 0.1s ease-out 0.1s;
    border-radius: 20px;
  }

  .logout-button-cst.v-pressed .v-icon {
    box-shadow: 0 0 25px #A2A2A2;
  }

  .logout-button-cst:hover .v-icon {
    box-shadow: 0 0 25px #E2E2E2;
  }

  .v-slot-logout-button-cst {
    overflow: visible;
  }

  .v-button:focus:after {
    border: none;
    box-shadow: none;
  }

  .v-popupbutton-popup-open-menu-button .v-slot-cuba-context-menu-button:first-child .v-button {
    background-color: #197de1;
    background-image: linear-gradient(to bottom, #1b87e3 2%, #166ed5 98%);
    color: white;
  }

  .v-popupbutton-popup-open-menu-button .v-slot-cuba-context-menu-button:last-child .v-button {
    border-top: 1px solid #DADADA;
    text-align: center;
  }
}